* {
  background: lightgoldenrodyellow;
  font-family: 'Roboto','Times New Roman','Arial';
  font-size: 22px;
  text-align: center;
  width: auto;
}

h1 {
  font-size: 35px;
  font-weight: 900;
  text-decoration: underline;
}

img {
  width: 22%;
}

.links {
  padding-top: 10px;
}

a:hover {
  color: red;
  font-weight: bold;
  border: 2px red;
}

p{
  font-size: 25px;
}

.good-luck {
  font-size: 18px;
  padding-top: 80px;
}